$background-color: #121212;
$primary-color: #ffffff;
$secondary-color: #8c8c8c;
$primary-link-color: #117fd9;
$default-border-or-line-color: #2c2c2c;

body {
  background-color: $background-color;
  color: $primary-color;
}

h3, span, pre, small, code {
  color: $secondary-color;
}

a {
  color: $primary-link-color;
}

input, table, td {
  border: 1px solid $default-border-or-line-color;
}
